@if (_load)
{
    <div class="doorbell-stream-container">
        @if (!_isLoaded && !_loadHidden)
        {
            <div class="doorbell-placeholder">
                <MudProgressCircular Color="Color.Info" Indeterminate="true" Class="mb-3" />
                <p class="m-0">Connecting to doorbell...</p>
            </div>
        }

        <iframe src="http://10.10.0.10:1984/webrtc.html?src=doorbell_sub&media=video+audio"
                allow="autoplay; encrypted-media"
                frameborder="0"
                scrolling="no"
                class="@(_isLoaded ? "stream-visible" : "stream-hidden")"
                @onload="HandleIframeLoadAsync">
        </iframe>
    </div>
}

@code {
    [Parameter] public EventCallback OnVisible { get; set; }

    private bool _load;
    private bool _loadHidden;
    private bool _isLoaded;

    public async Task LoadAsync(bool hidden)
    {
        await InvokeAsync(async () =>
        {
            _load = true;
            _loadHidden = hidden;
            StateHasChanged();

            if (!hidden)
            {
                await OnVisible.InvokeAsync();
            }
        });
    }

    public async Task DisposeAsync()
    {
        _load = false;
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleIframeLoadAsync()
    {
        await InvokeAsync(async () =>
        {
            _isLoaded = true;
            StateHasChanged();

            if (_loadHidden)
            {
                await OnVisible.InvokeAsync();
            }
        });
    }
}

<style>
    .doorbell-stream-container {
        position: fixed;
        width: 480px;
        height: 480px;
        overflow: hidden;
        background-color: black;
    }

    .doorbell-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: sans-serif;
        z-index: 2;
    }

    .doorbell-stream-container iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 240%;
        height: 135%;
        border: none;
        pointer-events: none;
        z-index: 1;
        transition: opacity 0.3s ease;
    }

    .stream-hidden {
        opacity: 0;
        visibility: hidden;
    }

    .stream-visible {
        opacity: 1;
        visibility: visible;
    }
</style>